<nav class="navbar navbar-default">
  <div id="dl-menu" class="responsive-menu xv-menuwrapper">
    <div class="ss_menu_btn dl-trigger" id="menu_click">
      <div class="bar1"></div>
      <div class="bar2"></div>
      <div class="bar3"></div>
    </div>
    <div class="clearfix"></div>
    <ul class="dl-menu">
      <li class="parent">
        <a href="#"
          >Home &nbsp;<i class="fa fa-angle-down" aria-hidden="true"></i
        ></a>
        <ul class="lg-submenu">
          <li class="dl-back"><a href="#">back</a></li>
          <li class="dl-back"><a href="#">back</a></li>
          <li><a href="index.html">Home-I</a></li>
          <li><a href="index2.html">Home-II</a></li>
          <li><a href="index3.html">Home-III</a></li>
        </ul>
      </li>
      <li class="parent">
        <a href="#"
          >Pages &nbsp;<i class="fa fa-angle-down" aria-hidden="true"></i
        ></a>
        <ul class="lg-submenu">
          <li class="dl-back"><a href="#">back</a></li>
          <li class="dl-back"><a href="#">back</a></li>
          <li><a href="404.html">404</a></li>
          <li><a href="shopping_cart.html">Shopping-Cart</a></li>
          <li><a href="checkout.html">Checkout</a></li>
        </ul>
      </li>
      <li class="parent">
        <a href="#"
          >Shop &nbsp;<i class="fa fa-angle-down" aria-hidden="true"></i
        ></a>
        <ul class="lg-submenu">
          <li class="dl-back"><a href="#">back</a></li>
          <li class="dl-back"><a href="#">back</a></li>
          <li><a href="product.html">Shop</a></li>
          <li><a href="product_sidebar.html">Shop-Sidebar</a></li>
          <li>
            <a href="product_sidebar_right.html">Shop-Sidebar-Right</a>
          </li>
          <li><a href="product_single.html">Shop-Single</a></li>
        </ul>
      </li>
      <li class="parent">
        <a href="#"
          >Blog &nbsp;<i class="fa fa-angle-down" aria-hidden="true"></i
        ></a>
        <ul class="lg-submenu">
          <li class="dl-back"><a href="#">back</a></li>
          <li class="dl-back"><a href="#">back</a></li>
          <li><a href="blog_categoris.html">Blog-Category</a></li>
          <li>
            <a href="blog_categoris_left.html">Blog-Category-Left</a>
          </li>
          <li><a href="blog_single.html">Blog-Single</a></li>
          <li>
            <a href="blog_single_left.html">Blog-Single-Left</a>
          </li>
        </ul>
      </li>
      <li class="parent megamenu">
        <a href="#"
          >Shotcodes &nbsp;<i class="fa fa-angle-down" aria-hidden="true"></i
        ></a>
        <ul class="lg-submenu">
          <li class="dl-back"><a href="#">back</a></li>
          <li class="dl-back"><a href="#">back</a></li>
          <li>
            <ul class="lg-submenu">
              <li class="dl-back"><a href="#">back</a></li>
              <li class="dl-back"><a href="#">back</a></li>
              <li class="ar_left">
                <a href="accordion.html">Accordion</a>
              </li>
              <li class="ar_left"><a href="blog.html">Blog</a></li>
              <li class="ar_left">
                <a href="clients.html">Client</a>
              </li>
              <li class="ar_left">
                <a href="counters.html">Counter</a>
              </li>
              <li class="ar_left">
                <a href="elements.html">Element </a>
              </li>
              <li class="ar_left">
                <a href="features_with_icon.html">Feature with Icon</a>
              </li>
              <li class="ar_left">
                <a href="features_with_images.html">Feature with Images</a>
              </li>
            </ul>
          </li>
          <li>
            <ul class="lg-submenu">
              <li class="dl-back"><a href="#">back</a></li>
              <li class="dl-back"><a href="#">back</a></li>
              <li class="ar_left">
                <a href="footer.html"> Footer </a>
              </li>
              <li class="ar_left"><a href="forms.html"> Form</a></li>
              <li class="ar_left">
                <a href="headings.html"> Heading </a>
              </li>
              <li class="ar_left"><a href="icon.html">Icon</a></li>
              <li class="ar_left">
                <a href="img-box.html">Image Box</a>
              </li>
              <li class="ar_left">
                <a href="portfolio.html">Portfolio </a>
              </li>
              <li class="ar_left">
                <a href="pricing.html">Pricing Table</a>
              </li>
            </ul>
          </li>
          <li>
            <ul class="lg-submenu">
              <li class="dl-back"><a href="#">back</a></li>
              <li class="dl-back"><a href="#">back</a></li>
              <li class="ar_left">
                <a href="page_header.html">Page Header</a>
              </li>
              <li class="ar_left">
                <a href="progress.html"> Progress Bar</a>
              </li>
              <li class="ar_left"><a href="tab.html">Tab</a></li>
              <li class="ar_left"><a href="team.html">Team</a></li>
              <li class="ar_left">
                <a href="testimonials.html">Testimonial</a>
              </li>
            </ul>
          </li>
          <!-- <li>
										<ul class="lg-submenu">
											<li class="ar_left"><a href="team.html">Team</a>
											</li>
											<li class="ar_left"><a href="testimonials.html">Testimonial</a>
											</li>
										</ul>
									</li> -->
          <li>
            <div class="cc_navi_banner_wraper">
              <a href="#">
                <img src="images/content/n1.png" alt="nav_banner" />
              </a>
            </div>
            <div class="cc_navi_banner_wraper">
              <a href="#">
                <img src="images/content/n2.png" alt="nav_banner" />
              </a>
            </div>
          </li>
        </ul>
      </li>
      <li class="parent"><a href="contact.html">Contact</a></li>
      <li class="parent visible-xs">
        <a href="#"
          >Cart &nbsp;<i class="fa fa-angle-down" aria-hidden="true"></i
        ></a>
        <ul class="lg-submenu">
          <li class="dl-back"><a href="#">back</a></li>
          <li class="dl-back"><a href="#">back</a></li>
          <li>
            <div class="ss_cart_inner_main_section">
              <div class="ss_cart_img_wrapper">
                <img src="images/header/cart_img.jpg" alt="cart_img" />
              </div>
              <div class="ss_cart_img_cont_wrapper">
                <h3><a href="#">Product item</a></h3>
                <h4>Product category</h4>
                <span>x</span>
              </div>
            </div>
          </li>
          <li>
            <div class="ss_cart_inner_main_section">
              <div class="ss_cart_img_wrapper">
                <img src="images/header/cart_img.jpg" alt="cart_img" />
              </div>
              <div class="ss_cart_img_cont_wrapper">
                <h3><a href="#">Product item</a></h3>
                <h4>Product category</h4>
                <span>x</span>
              </div>
            </div>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
